{% extends "base.html" %}

{% block title %}Users | University{% endblock %}


{% block content %}

<div class="form_container">
  <h2>Teachers</h2>
  <table>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Rank</th>
    </tr>

    {% for i in teachers %}
    <tr>
      <td>{{i.user.email}}</td>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.rank}}</td>
    </tr>
    {% endfor %}

</table>
</div>

<div class="form_container">
  <h2>Students</h2>
  <table>
    <tr>
      <th>Registry Id</th>
      <th>Email</th>
      <th>First Name</th>
      <th>Last name</th>
      <th>Admission Year</th>
    </tr>

    {% for i in students %}
    <tr>
      <td>{{i.registry_id}}</td>
      <td>{{i.user.email}}</td>
      <td>{{i.first_name}}</td>
      <td>{{i.last_name}}</td>
      <td>{{i.admission_year}}</td>
    </tr>
    {% endfor %}

</table>
</div>




{% endblock %}
