{% extends "base.html" %}


{% block title %}{{base_form.title}} | {{university.name}}{% endblock %}


{% block content %}

<div class="main-container">
  <h2>{{base_form.title}}</h2>

  <div class="form-container">
    <form id="base-form" method="post" action="">
      {% csrf_token %}

      {% if base_form.form.non_field_errors %}
        <div class="error">{{ base_form.form.non_field_errors }}</div>
      {% endif %}

      <table>
        <tbody>
          {% for field in base_form.form %}
          <tr>
            {% if field.label_tag %}
            <td class="label">{{ field.label_tag }}</td>
            {% endif %}

            <td>{{ field }}</td>

            {% if not field.errors and field.help_text %}
            <td class="help">{{field.help_text}}</td>
            {% endif %}

            {% for error in field.errors %}<td>
            <td class="error">{{ error }}</td>
            {% endfor %}
          </tr>

          {% endfor %}
        </tbody>
      </table>

      <input type="submit" value="{{base_form.submit_value}}">

    </form>
  </div>
</div>
{% endblock %}
