{% extends "base.html" %}

{% block title %}Departments | {{university.name}}{% endblock %}


{% block content %}

<div class="main-container">
  <h2>Departments</h2>
  {% if user.is_superuser %}
  <div id="departments-menu" class="main-container-menu">
    <a id="dept-insert-a" href="/departments/insert" class="filled-btn">Insert</a>
  </div>
  {% endif %}

  <ul class="entity-container">
    {% for i in departments %}
    <li class="entity-box">
      <div class="entity-box-title">{{ i.name }}</div>

      <div class="entity-box-menu">
        <div class="entity-box-menu-links">
          <a class="" href="/departments/{{i.id}}/classes">Classes</a>
        </div>
        <div class="entity-box-menu-actions">
          {% if user.is_superuser or user.is_deptadmin and i.id == user.deptadmin.department.id %}
          <a class="dept-edit-a util-btn" href="/departments/{{i.id}}/state">
            {{i.year}} {{i.semester|capfirst|slice:2}} / {{i.state|capfirst}}
          </a>
          <a class="dept-edit-a util-btn" href="/departments/{{i.id}}/update">
            Edit
          </a>
          {% endif %}
          {% if user.is_superuser %}
          <a class="dept-delete-a util-btn danger-btn-mask" href="/departments/{{i.id}}/delete">
            Delete
          </a>
          {% endif %}
        </div>
      </div>

      <div class="entity-box-content">{{ i.description|truncatechars:250 }}</div>

    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
