{% url "departments" as target_url %}
<a href={{target_url}}
   {% if request.path == target_url %} class="menu-current" {% endif %}>
  Departments
</a>

{% url "class_signup" user.id as target_url %}
<a href={{target_url}}
   {% if request.path == target_url %} class="menu-current" {% endif %}>
  Class signup
</a>

{% url "grades" user.id as target_url %}
<a href={{target_url}}
   {% if request.path == target_url %} class="menu-current" {% endif %}>
  Grades
</a>

{% url "stats" user.id as target_url %}
<a href={{target_url}}
   {% if request.path == target_url %} class="menu-current" {% endif %}>
  Stats
</a>
