:root {
    --form-submit-bg-c: #3e9b15;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    background: ;
    font-family: sans-serif;
}

header {
    padding: 0;
    margin: 0;
    background-color: #020202;
    color: #fff;
}


/*
 * Logo menu
 */

.logo-menu {
    display: flex;
    align-items: center;
    background-color: #223344;
}

.logo {
    background: url(https://via.placeholder.com/100x100/223344/FFFFFF?text=LOGO) center;
    width: 100px;
    height: 40px;
}

.searchbar {
    margin: 0 10px 0 0;
    margin-left: auto;
}

.searchbar input {
    border: none;
    margin: 0;
    padding: 0;
}

.searchbar input[type=text] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1.1em;
    width: 15ch;
    padding: 3px;
}

.searchbar input[type=text]:hover,
.searchbar input[type=text]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
}

.searchbar input[type=submit] {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.1em;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    padding: 3px 7px;
    margin-left: -5px;
    cursor: pointer;
}

.searchbar input[type=submit]:hover {
    background-color: #000;
}


/*
 * Main menu
 */

.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111e22;
    padding: 0 10px;
}

.main-menu a {
    padding: 5px 8px;
    font-family: sans-serif;
    font-size: 0.9em;
    color: #eee;
    text-decoration: none;
}

.main-menu a:hover {
    color: #ffaaaa;
}

.signinbar {
    margin: 3px;
}

.signinbar input {
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.signinbar input[type=email] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.signinbar input[type=password] {
    margin-left: -3px;
}

.signinbar input[type=email], .signinbar input[type=password] {
    font-size: 0.8em;
    width: 20ch;
    padding: 3px;
}

.signinbar input[type=email]:hover,
.signinbar input[type=email]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -3px;
}

.signinbar input[type=password]:hover,
.signinbar input[type=password]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -6px;
}

.signinbar input[type=submit] {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 0.8em;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    padding: 3px 7px;
    margin-left: -5px;
    cursor: pointer;
}

.signinbar input[type=submit]:hover {
    background-color: #000;
}

.signup-btn {
    font-size: 0.8em !important;
    color: #fff;
    border: 1px solid #fff;
    margin-left: 3px;
    padding: 3px 7px !important;
    border-radius: 3px;
}

.signup-btn:hover {
    background-color: #000;
    color: #fff !important;
}


/*
 * Content
 */

.content {
    background-color: ;
}


/*
 * Sign up
 */

.signup-container {
    display: flex;
    justify-content: center;
}


/*
 * Inputs and Forms: form_container
 */

.form_container {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #eee;
    padding: 15px;
    margin: 10px;
}

.form_container p {
    text-align: center;
}


.form_container label {
    padding: 0 0 3px 0;
    display: inline-block;
}

.base_field {
    padding-bottom: 8px;
}

.form_container input, select {
    width: 100%;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.form_container input:hover,
.form_container input:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -2px;
}

.form_container input[type=submit] {
    border: 2px solid var(--form-submit-bg-c);
    border-radius: 3px;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    width: 100px;
    float: right;
    padding: 7px 10px;
}

.form_container input[type=submit]:hover {
    background-color: #000;
}


