:root {
    --menu-bg-c: #223344;
    --form-submit-bg-c: #3e9b15;
}

html, body {
    padding: 0;
    margin: 0;
}

html {
    background: #fff;
    font-family: sans-serif;
}

header {
    padding: 0;
    margin: 0;
    color: #fff;
}


/* ******************************************************************
 * Logo
 ****************************************************************** */

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--menu-bg-c);
}

.logo-organiztion {
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo-department {
    padding: 0 10px;
}

.uni-title .dept-title {
    color: #fff;
}

.logo {
    display: block;
    background: url(https://via.placeholder.com/100x100/223344/FFFFFF?text=LOGO) center;
    width: 90px;
    height: 50px;
}

/* ******************************************************************
 * Menu
 ****************************************************************** */

.menu {
    display: flex;
    align-items: center;
    justify-content: start;

    background-color: #eee;
    border-top: 1px solid #222;
}

.menu-container {
    width: 100%;
    background-color: #334455;;
}

.menu-user-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 7px 5px;
}

.menu-links-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    padding:0;
    background-color: #eee;
    border-top: 1px solid #222;
}

.menu-links-row a {
    text-decoration: none;
    padding: 5px 5px;
    color: #112233;
}

.menu-links-row a:hover {
    color: #eee;
    background-color: #222;
}

.menu-current {
    background-color: #fff;
    color: #223344;
}


/* ******************************************************************
 * Menu: User
 ****************************************************************** */

.menu-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.menu-user-a {
    font-size: 0.80em;
    color: #e7e7e7;
    background-color: #223344;
    padding: 3px 7px;
    border: 1px solid #223344;
    border-radius: 3px;
}

.menu-user-a:hover {
    background-color: #112233;
    color: #fff;
}


/* ******************************************************************
 * Signinbar
 ****************************************************************** */

.signinbar {
    display: flex;
    align-items: center;
    justify-content: start;
}

.signinbar input {
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.signinbar input[type=email] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.signinbar input[type=password] {
    margin-left: -3px;
}

.signinbar input[type=email], .signinbar input[type=password] {
    font-size: 0.8em;
    width: 10ch;
    padding: 3px;
}

@media screen and (min-width: 48em) {
    .signinbar input[type=email], .signinbar input[type=password] {
        width: 17ch;
    }
}

@media screen and (min-width: 64em) {
    .signinbar input[type=email], .signinbar input[type=password] {
        width: 24ch;
    }
}


.signinbar input[type=email]:hover,
.signinbar input[type=email]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -3px;
}

.signinbar input[type=password]:hover,
.signinbar input[type=password]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -6px;
}

.signinbar input[type=submit] {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 0.8em;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    padding: 3px 7px;
    margin-left: -5px;
    cursor: pointer;
}

.signinbar input[type=submit]:hover {
    background-color: #000;
}


/* ******************************************************************
 * Searchbar
 ****************************************************************** */

.searchbar {
    margin-top: 10px;
}

@media screen and (min-width: 39em) {
    .searchbar {
        margin-top: 0;
    }
}

.searchbar form {
    display: flex;
    align-items: stretch;
    justify-content: start;
}

.searchbar input {
    border: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.searchbar input[type=text] {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 1.1em;
    width: 24ch;
    padding: 3px;
}

.searchbar input[type=text]:hover,
.searchbar input[type=text]:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -3px;
}

.searchbar input[type=submit] {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.1em;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    padding: 3px 7px;
    cursor: pointer;
}

.searchbar input[type=submit]:hover {
    background-color: #000;
}


/* ******************************************************************
 * Buttons
 ****************************************************************** */

a.border-btn, input[type=submit].border-btn {
    font-size: 0.8em;
    color: #fff;
    border: 1px solid #fff;
    margin: 0 3px;
    padding: 3px 7px;
    border-radius: 3px;
    text-decoration: none;
}

a.border-btn:hover, input[type=submit].border-btn:hover {
    background-color: #fff;
    color: #000;
}

/* filled-btn */

a.filled-btn, input[type=submit].filled-btn {
    font-family: sans-serif;
    font-size: 0.8em;
    color: #fff;
    background-color: #223344;
    border: 1px solid #223344;
    margin: 0 3px;
    padding: 3px 7px;
    border-radius: 3px;
    text-decoration: none;
}

a.filled-btn:hover, input[type=submit].filled-btn:hover {
    background-color: #fff;
    color: #000;
}


/* link-btn */

a.link-btn {
    text-decoration: underline;
}

a.link-btn:visited {
    color: #f7a1f7;
    border: 1px solid purple;
}

a.util-btn {
    font-size: 0.8em;
    color: #000;
    background-color: #bbb;
    border: 1px solid #bbb;
    margin: 0 3px;
    padding: 3px 7px;
    border-radius: 3px;
    text-decoration: none;
}

a.util-btn:hover {
    background-color: #fff;
    color: #000;
}

a.danger-btn-mask {
    border: 1px solid red;
}


/* ******************************************************************
 * Content: containers
 ****************************************************************** */

@media screen and (min-width: 64em) {
    .content {
        width: 80%;
        margin: 0 auto;
    }
}

/* main-container */

.main-container {
    box-sizing: border-box;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
    margin: 15px 0;
}

.main-container h2, .main-container h3 {
    text-align: right;
    margin: 0.25em 0.5em 0.5em 0;
}

.main-container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-top: 1px solid #223344;
    border-bottom: 1px solid #223344;
}


/* entity */

ul.entity-container {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li.entity-box {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 100%;
}

@media screen and (min-width: 52em) {
    li.entity-box {
        width: 40%;
    }
}

.entity-box-title {
    background-color: #223344;
    border-radius: 3px 3px 0 0;
    color: #eee;
    font-size: 1.1em;
    font-weight: bold;
    text-align: left;
    padding: 4px;
}

.entity-box-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    border-left: 1px solid #334455;
    border-right: 1px solid #334455;
    padding: 5px;
}

.entity-box-menu-links, .entity-box-menu-actions {
    display: flex;
    align-items: center;
}

.entity-box-menu-links a {
    padding-right: 10px;
}

.entity-box-content {
    flex: 1;
    border-bottom: 1px solid #334455;
    border-left: 1px solid #334455;
    border-right: 1px solid #334455;
    border-radius: 0 0 3px 3px;
    padding: 5px 10px;
    background-color: #fff;
    text-align: justify;
}


/* search-result */

ul.search-result {
    display: flex;
    align-items: stretch;
    justify-content: left;
    flex-wrap: wrap;

    list-style: none;
    padding: 0;
    margin-top: 15px;

    background-color: #fff;
}

ul.search-result li {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;

}

ul.search-result span {
    margin-top: 5px;
}

ul.search-result hr {
    width: 100%;
    border: 1px solid #eee;
}


/* ******************************************************************
 * Content: Modal
 ****************************************************************** */

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

#modal-container {
    background-color: #eee;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 3px;
    width: 80%; /* Could be more or less, depending on screen size */
}

#modal-close {
    float: right;
    padding: 0 5px;
    font-weight: bold;
    font-size: 1.7em;
    cursor: default;
}

#modal-close:hover {
    background-color: red;
}


/* ******************************************************************
 * Forms
 ****************************************************************** */

.form-container {
    display: flex;
    justify-content: center;
}

.form-container form {
    background-color: #d3d3d3;
    border-radius: 3px;
    padding: 10px 5px;
}

.form-container table {
    border-collapse: collapse;
}

.form-container input, select, textarea {
    width: calc(100% - 12px);  /* minus the padding and border */
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.form-container input:hover,
.form-container input:focus,
.form-container textarea:hover,
.form-container textarea:focus {
    border-right: 3px solid var(--form-submit-bg-c);
    margin-right: -2px;
}

.form-container input[type=checkbox] {
    width: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
}

.form-container input[type=checkbox]:hover,
.form-container input[type=checkbox]:focus {
    border: none;
    margin-right: 4px;
}

.form-container label {
    float: right;
}

.form-container td.label {
    color: #000;
    padding: 7px 4px;
}

.form-container td.help {
    color: #3f3f3f;
    padding: 0 0 0 4px;
}

.form-container input[type=submit] {
    border: 2px solid var(--form-submit-bg-c);
    border-radius: 3px;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    width: 100px;
    margin: 0 calc(50% - 50px);
    margin-top: 7px;
    padding: 7px 10px;
    cursor: pointer;
}

.form-container input[type=submit]:hover {
    background-color: #000;
    border-color: #000;
}

.form-container ul#id_classes {
    list-style: none;
    padding: 20px 100px;
}

.form-container li label {
    float: left;
    padding: 0;
}


/* Confirm form */

#confirm-form p {
    background-color: #fff;
    margin: 15px;
    padding: 10px;
    border-radius: 3px;
}

.confirm-form-choices {
    display: flex;
    justify-content: center;
}

.confirm-form-choices a,
.confirm-form-choices input[type=submit] {
    border: 2px solid var(--form-submit-bg-c);
    border-radius: 3px;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    font-size: 1em;
    width: 100px;
    margin: 0 15px;
    padding: 7px 10px;
}

.confirm-form-choices a {
    text-decoration: none;
    text-align: center;
    padding: 7px 0;
}

.confirm-form-choices a:hover {
    background-color: #000;
    border-color: #000;
}


/* Sign up */

.signup-container {
    display: flex;
    justify-content: center;
}


/*
 * Inputs and Forms: form_container
 */

.form_container {
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #eee;
    padding: 15px;
    margin: 10px;
}

.form_container p {
    text-align: center;
}

.form_container label {
    padding: 0 0 3px 0;
    display: inline-block;
}

.base_field {
    padding-bottom: 8px;
}

.form_container input, select {
    width: 100%;
    padding: 5px;
    border: 1px solid #bbb;
    border-radius: 3px;
}

.form_container input:hover,
.form_container input:focus {
    border-left: 3px solid var(--form-submit-bg-c);
    margin-left: -2px;
}

.form_container input[type=submit] {
    border: 2px solid var(--form-submit-bg-c);
    border-radius: 3px;
    background-color: var(--form-submit-bg-c);
    color: #fff;
    width: 100px;
    float: right;
    padding: 7px 10px;
}

.form_container input[type=submit]:hover {
    background-color: #000;
    border-color: #000;
}

/* staff: users */

.user-insert-form {
    margin-bottom: 15px;
}

.user-insert-form input {
    border: none;
}

/* ******************************************************************
 * Tables
 ****************************************************************** */

.base-table {
    margin-top: 15px;
    font-size: 0.91em;
    width: 100%;
}

.base-table, .base-table td {
    border: 2px solid #fff;
    border-collapse: collapse;
    border-radius: 3px;
    padding: 3px;
}

.base-table thead {
    text-align: left;
    background-color: #777;
    color: #fff;
}

.base-table th {
    padding: 2px 3px;
}

.base-table td {
    text-align: center;
}

.base-table tr:nth-child(odd) td {
    background-color: #d3d3d3;
}

/* staff: users */

.tr-user-not-accepted td {
    background-color: #ffd485 !important;
}

.tr-user-not-active {
    color: #b0b0b0;
}
