{% extends "base.html" %}


{% block title %}{{t.title}} | {{dept_name}} | University{% endblock %}


{% block content %}

<form id="base-form" method="post" action="">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tbody>
      {% for field in form %}

      {% if field.name == "department" %}
      {{ field.as_hidden }}
      {% else  %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}<td>
        <td style="color: red">{{ error }}</td>
        {% endfor %}
      </tr>
      {% endif %}

      {% endfor %}
    </tbody>
  </table>

  <input type="submit" value="Save">

</form>

{% endblock %}
