{% extends "base.html" %}

{% block title %}Classes | {{ dept.name }} | {{university.name}}{% endblock %}


{% block content %}

<div id="modal">
  <div id="modal-container">
    <span id="modal-close">&times;</span>
    <div id="modal-content"></div>
  </div>
</div>


<div class="main-container">
  <h2>{{ dept.name }} Classes</h2>
  {% if perm.is_admin or perm.is_teacher %}
  <div id="classes-menu" class="main-container-menu">
    <a id="class-insert-a" class="filled-btn"
       href="/departments/{{dept.id}}/classes/insert">
      Insert
    </a>
  </div>
  {% endif %}

  <ul class="entity-container">
    {% for i in classes %}
    <li class="entity-box">
      <div class="entity-box-title">{{ i.name }}</div>

      <div class="entity-box-menu">
        <div class="entity-box-menu-links">
          <a class="class-view-a"
             href="/departments/{{dept.id}}/classes/{{i.public_id}}">
            {% if perm.is_admin or perm.is_teacher %} Details/Edit
            {% else %} Details
            {% endif %}
          </a>
        </div>
        <div class="entity-box-menu-actions">
          {% if perm.is_admin %}
          <a class="class-delete-a util-btn danger-btn-mask"
             href="/departments/{{dept.id}}/classes/{{i.public_id}}/delete">
            Delete
          </a>
          {% endif %}
        </div>
      </div>

      <div class="entity-box-content">{{i.description|truncatechars:250}}</div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}
