{% extends "base.html" %}

{% block title %}Sign up | University{% endblock %}

{% block content %}

<div class="signup">

  <div class="base_form">
    <h2>Student</h2>
    <form method="post" action="/signup/student">
      {% csrf_token %}
      {{ student_form.non_field_errors }}
      {% for field in student_form %}
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
    {% endfor %}
    <button type="submit">Sign up</button>
    </form>
  </div>

  <div class="base_form">
    <h2>Teacher</h2>
    <form method="post" action="/signup/teacher">
      {% csrf_token %}
      {{ teacher_form.non_field_errors }}
      {% for field in teacher_form %}

        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small><br>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}

    {% endfor %}
    <button type="submit">Sign up</button>
    </form>
  </div>

</div>
{% endblock %}
