{% extends "base.html" %}

{% block title %}Sign up | University{% endblock %}

{% block content %}

<div class="form_container">
  {% if user_created %}
    <p style="color:green">Welcome, {{ user_first_name }}. Your account
      has been created. Please, wait for an administrator to verify and enable
      your account.</p>
  {% else  %}
    <p>You may sign up for an account using one of the forms
      below. Accounts must be verified and enabled by the administrator
      before they can be used.</p>
  {% endif %}
</div>

<div class="signup-container">

  <div class="form_container">
    <h2>Student</h2>
    <form method="post" action="/signup/student">
      {% csrf_token %}
      {{ student_form.non_field_errors }}
      {% for field in student_form %}
      <div class="base_field">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}
      <input type="submit" value="Sign up">
    </form>
  </div>

  <div class="form_container">
    <h2>Teacher</h2>
    <form method="post" action="/signup/teacher">
      {% csrf_token %}
      {{ teacher_form.non_field_errors }}
      {% for field in teacher_form %}
      <div class="base_field">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
      </div>
      {% endfor %}
      <input type="submit" value="Sign up">
    </form>
  </div>

</div>
{% endblock %}
