{% extends "base.html" %}

{% block title %}Grades | University{% endblock %}


{% block content %}

<div class="main-container">
  <h2>Grades</h2>

  <br>

  {% for name, signups in classes.items %}

  <h4>{{ name }}</h4>
  <table class="base-table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Theory</th>
        <th>Lab</th>
        <th>Final</th>
      </tr>
    </thead>
    <tbody>
      {% for signup in signups %}
      <tr>
        <td>{{ signup.teaching.year }}</td>
        <td>{{ signup.theory_mark }}</td>
        <td>{{ signup.lab_mark }}</td>
        <td>{{ signup.final_mark }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endfor %}
</div>

{% endblock %}
