{% extends "base.html" %}


{% block title %}

{% if mode == "student" %}Insert student | University
{% elif mode == "teacher" %}Insert teacher | University
{% elif mode == "deptadmin" %}Insert deptadmin | University
{% endif %}

{% endblock %}


{% block content %}

{% if mode == "student" %}
<form id="insert-student-form" method="post" action="/users">
  <input type="hidden" name="action" value="insert_student">
{% elif mode == "teacher" %}
<form id="insert-teacher-form" method="post" action="/users">
  <input type="hidden" name="action" value="insert_teacher">
{% elif mode == "deptadmin" %}
<form id="insert-deptadmin-form" method="post" action="/users">
  <input type="hidden" name="action" value="insert_deptadmin">
{% endif %}

  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tbody>
      {% for field in form %}
      <tr>
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}<td>
        <td style="color: red">{{ error }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% if mode == "student" %}
  <input type="submit" value="Insert student">
{% elif mode == "teacher" %}
  <input type="submit" value="Insert teacher">
{% elif mode == "deptadmin" %}
  <input type="submit" value="Insert deptadmin">
{% endif %}

</form>
{% endblock %}
