{% extends "base.html" %}

{% block title %}Users | University{% endblock %}


{% block content %}

<div id="modal">
  <div id="modal-container">
    <span id="modal-close">&times;</span>
    <div id="modal-content" class="form-container"></div>
  </div>
</div>

{% if user.is_superuser %}
<div class="main-container">
  <h2>Department admins</h2>
  <div id="deptadmin-menu" class="main-container-menu">
    <a id="deptadmin-insert-a" class="filled-btn"
       href="/users/insert/deptadmin">
      Insert
    </a>
  </div>

  <table id="deptadmin-table" class="base-table">
    <thead>
      <tr>
        <th>Dept</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      {% for i in deptadmins %}

      <tr id="user_{{ i.user_id }}"
        {% if not i.is_accepted %}
        class="tr-user-not-accepted"
        {% elif not i.is_active %}
        class="tr-user-not-active"
        {% endif %}
        >

        <td>{{i.departments}}</td>
        <td>{{i.email}}</td>

        <td>
          <a class="deptadmin-update-a filled-btn"
             href="/users/{{ i.user_id }}/update">Edit</a>
        </td>

        {% if not i.is_accepted %}

        <td>
          <form class="user-accept-form" method="post"
                action="/users/{{ i.user_id }}/accept">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Accept">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% elif not i.is_active %}

        <td>
          <form class="user-activate-form" method="post"
                action="/users/{{ i.user_id }}/activate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Activate">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% else %}

        <td>
          <form class="user-deactivate-form" method="post"
                action="/users/{{ i.user_id }}/deactivate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Deactivate">
          </form>
        </td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}


<div class="main-container">
  <h2>Teachers</h2>
  <div id="teacher-menu" class="main-container-menu">
    <a id="teacher-insert-a" class="filled-btn" href="/users/insert/teacher">
      Insert
    </a>
  </div>

  <table id="teacher-table" class="base-table">
    <thead>
      <tr>
        <th>Dept</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Rank</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      {% for i in teachers %}

      <tr id="user_{{ i.user_id }}"
        {% if not i.is_accepted %}
        class="tr-user-not-accepted"
        {% elif not i.is_active %}
        class="tr-user-not-active"
        {% endif %}
        >

        <td>{{i.departments}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.rank}}</td>
        <td>{{i.email}}</td>

        <td>
          <a class="teacher-update-a filled-btn"
             href="/users/{{ i.user_id }}/update">Edit</a>
        </td>

        {% if not i.is_accepted %}

        <td>
          <form class="user-accept-form" method="post"
                action="/users/{{ i.user_id }}/accept">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Accept">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% elif not i.is_active %}

        <td>
          <form class="user-activate-form" method="post"
                action="/users/{{ i.user_id }}/activate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Activate">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% else %}

        <td>
          <form class="user-deactivate-form" method="post"
                action="/users/{{ i.user_id }}/deactivate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Deactivate">
          </form>
        </td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>



<div class="main-container">
  <h2>Students</h2>
  <div id="student-menu" class="main-container-menu">
    <a id="student-insert-a" class="filled-btn" href="/users/insert/student">
      Insert
    </a>
  </div>

  <table id="student-table" class="base-table">
    <thead>
      <tr>
        <th>Reg Id</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Year</th>
        <th>Department</th>
      </tr>
    </thead>

    <tbody>
      {% for i in students %}

      <tr id="user_{{ i.user_id }}"
        {% if not i.is_accepted %}
        class="tr-user-not-accepted"
        {% elif not i.is_active %}
        class="tr-user-not-active"
        {% endif %}
        >

        <td>{{i.registry_id}}</td>
        <td>{{i.email}}</td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.admission_year}}</td>
        <td>{{i.departments}}</td>

        <td>
          <a class="student-update-a filled-btn"
             href="/users/{{ i.user_id }}/update">Edit</a>
        </td>

        {% if not i.is_accepted %}

        <td>
          <form class="user-accept-form" method="post"
                action="/users/{{ i.user_id }}/accept">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Accept">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% elif not i.is_active %}

        <td>
          <form class="user-activate-form" method="post"
                action="/users/{{ i.user_id }}/activate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Activate">
          </form>
        </td>

        <td>
          <a class="user-delete-a filled-btn danger-btn-mask"
             href="/users/{{ i.user_id }}/delete">Delete</a>
        </td>

        {% else %}

        <td>
          <form class="user-deactivate-form" method="post"
                action="/users/{{ i.user_id }}/deactivate">
            {% csrf_token %}
            <input type="submit" class="filled-btn" value="Deactivate">
          </form>
        </td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>

<script>{% include "users.js" %}</script>

{% endblock %}
