{% extends "base.html" %}


{% block title %}

{% if type == "student" %}Update student | University
{% elif type == "teacher" %}Update teacher | University
{% elif type == "deptadmin" %}Update deptadmin | University
{% endif %}

{% endblock %}


{% block content %}

{% if type == "student" %}
<form id="student-update-form" method="post" action="/users/{{ user_id }}">
  <input type="hidden" name="action" value="update_student">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tbody>
      {% for field in form %}
      <tr>
        {% if field.name == "user_id" %}
        <td>{{ field.as_hidden }}</td>
        {% else %}
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}<td>
        <td style="color: red">{{ error }}</td>
        {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input id="id_submit" type="submit" value="Update student">
</form>

{% elif type == "teacher" %}
<form id="teacher-update-form" method="post" action="/users/{{ user_id }}">
  <input type="hidden" name="action" value="update_teacher">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tbody>
      {% for field in form %}
      <tr>
        {% if field.name == "user_id" %}
        <td>{{ field.as_hidden }}</td>
        {% else %}
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}<td>
        <td style="color: red">{{ error }}</td>
        {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input id="id_submit" type="submit" value="Update teacher">
</form>

{% elif type == "deptadmin" %}
<form id="deptadmin-update-form" method="post" action="/users/{{ user_id }}">
  <input type="hidden" name="action" value="update_deptadmin">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tbody>
      {% for field in form %}
      <tr>
        {% if field.name == "user_id" %}
        <td>{{ field.as_hidden }}</td>
        {% else %}
        <td>{{ field.label_tag }}</td>
        <td>{{ field }}</td>
        {% for error in field.errors %}<td>
        <td style="color: red">{{ error }}</td>
        {% endfor %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <input id="id_submit" type="submit" value="Update deptadmin">
</form>

{% endif %}

{% endblock %}
